extends layout

block content
    main.mdl-layout__content
      .page-content
        .mdl-card.center-card
          .mdl-card__title Devices
          .mdl-card__supporting-text The devices will be added here.