extends layout

block content
    main.mdl-layout__content
      .page-content
        .mdl-card.center-card
          .mdl-card__title Documentation
          .mdl-card__supporting-text The documentation will be shown here.