extends layout

block content
  main.mdl-layout__content
    .page-content
      .mdl-grid
        .mdl-cell.mdl-cell--12-col(style="text-align: center")
          div(id="botui-app" class="botui-app-container") 
            bot-ui


        
            
  

