extends layout

block content
    main.mdl-layout__content
      .page-content
        .mdl-grid
          .mdl-cell.mdl-cell--12-col(style="text-align: center")
            .mdl-card
              .mdl-card__title Packages
              br
              input(type:'text')#packageRepoInput
              button#installPackage Install
              br
              table#packagesTable
              br
              script(src='javascripts/packages.js')