extends layout

block content
    input(type:'text')#packageRepoInput
    button#installPackage Install
    br
    br
    table#packagesTable
    br
    br
    a(href="/") Home
    <script src="javascripts/packages.js"></script>
