extends layout

block content
    main.mdl-layout__content
      .page-content
        .mdl-card.center-card
          .mdl-card__title Settings
          .mdl-card__supporting-text 
              .mdl-card__supporting-text The settings will be set here.